html {
  background: #393840;
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-row {
  padding: 20px 20px 0 20px;
  display: flex;
  align-items: center;
  flex: 2;
}

#title {
  user-select: none;
  cursor: default;
}

#top-icons {
  display: flex;
  align-items: center;
  flex: 2;
}

#bottom-icons {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  width: 60vw;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
  justify-content: space-around;
  padding-bottom: 100px;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  margin: 20px;
  fill: #fff;
  filter: drop-shadow(10px 10px rgb(0 0 0));
  transition: 0.2s ease-in-out;
}

img:hover {
  filter: drop-shadow(20px 20px rgb(0 0 0));
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.large-icon {
  width: 200px;
  height: auto;
}

.small-icon {
  width: 120px;
  height: auto;
}

p {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 100pt;
  text-shadow: 10px 10px black;
  transition: 0.2s ease-in-out;
}

#color-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px black;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 100%;
  position: absolute;
  bottom: 30px;
  right: 30px;
  transition: 0.1s ease-in-out;
}

#color-button:active {
  box-shadow: none;
  transform: translate(5px, 5px);
  transition: 0.1s ease-in-out;
}

#color-button:hover {
  cursor: pointer;
}

#color-button img {
  filter: none;
  width: 35px;
  height: auto;
}

@media (max-width: 600px) {
  p {
    font-size: 60pt;
  }

  img {
    margin: 5px;
  }

  .large-icon {
    width: 140px;
  }

  .small-icon {
    width: 80px;
  }

  #title-row {
    flex: 1;
  }
}
